/*General Styles*/
body {
  background-color: #000000;
  color: #ffffff;
  font-family: Gotham, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: capitalize;
}
/*Header Styles*/
.header {
  display: flex;
  align-items: center;
  gap: 100px;
  padding: 25px;
}

#logo_left {
  font-size: 35px;
  color: #ffffff;
}

#logo_right {
  color: #ff6347;
  font-size: 55px;
}

.logo > a {
  text-decoration: none;
}

.main-navigation > ul > li {
  display: inline-flex;
  margin-right: 30px;
}

.main-navigation > ul > li > a {
  color: #ffffff;
  text-decoration: none;
}

.main-navigation > ul > li > a:hover {
  text-decoration: underline;
}
