/*General Styles*/
body {
  background-color: #000000;
  color: #ffffff;
  font-family: Gotham, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: capitalize;
}
/*Header Styles*/
.header {
  display: flex;
  align-items: center;
  gap: 100px;
  padding: 25px;
}

#logo_left {
  font-size: 35px;
  color: #ffffff;
}

#logo_right {
  color: #ff6347;
  font-size: 55px;
}

.logo > a {
  text-decoration: none;
}

.main-navigation > ul > li {
  display: inline-flex;
  margin-right: 30px;
}

.main-navigation > ul > li > a {
  color: #ffffff;
  text-decoration: none;
}

.main-navigation > ul > li > a:hover {
  text-decoration: underline;
}

/*Footer Styles*/
footer{
  display: flex;
  align-items: center;
  gap: 300px;
  padding: 20px;
}

.copyright {
  text-align: left;
}

.social-links {
  display: flex;
  gap: 30px;
}

.social-links > a {
  color: #ffffff;
  transition: all 0.4s ease-in-out;
  background-color: #ff6347;
  padding: 10px;
  text-decoration: none;
}

.social-links > a:hover {
  text-decoration: underline;
  background-color: #ffffff;
  color: #ff6347;
}

.social-links > a > i{
  font-size: 2em;
}

.flex-container{
  display: flex;
  flex-direction: row;
}

.flex-container > ul > li > h4{
  align-items: self-start;
}

.cta-button a:hover{
  background-color: #ffffff;
  color: #ff6347;

}

img{
  float: right;
  width: 1700px;
  height: 350px;
}

.kip > h6{
  text-align: right;
}

.kip > h5{
  text-align: center;
}
