/*General Styles*/
body {
  background-color: #000000;
  color: #ffffff;
  font-family: Gotham, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: capitalize;
}
/*Header Styles*/
.header {
  display: flex;
  align-items: center;
  gap: 100px;
  padding: 25px;
}

#logo_left {
  font-size: 35px;
  color: #ffffff;
}

#logo_right {
  color: #ff6347;
  font-size: 55px;
}

.logo > a {
  text-decoration: none;
}

.main-navigation > ul > li {
  display: inline-flex;
  margin-right: 30px;
}

.main-navigation > ul > li > a {
  color: #ffffff;
  text-decoration: none;
}

.main-navigation > ul > li > a:hover {
  text-decoration: underline;
}

/*main-container styles*/
.introduction{
  display: flex;
  gap: 10px;
  padding: 20px;
}

.introduction-left{
  display: flex;
  flex: 1;
  flex-direction: column;
}

.introduction-right{
  display: flex;
  flex-direction: column;
  flex: 1;
}

.cta-button a{
  background-color: #ffffff;
  color: #ff6347;
  transition: all 0.4s ease-in-out;
  padding: 10px;
  text-decoration: none;
}

.cta-button > a:hover{
  text-decoration: underline;
  background-color: #ffffff;
  color: #ff6347;
}

/*Footer Styles*/
footer{
  display: flex;
  align-items: center;
  gap: 300px;
  padding: 20px;
}

.copyright {
  text-align: left;
}

.social-links {
  display: flex;
  gap: 30px;
}

.social-links > a {
  color: #ffffff;
  transition: all 0.4s ease-in-out;
  background-color: #ff6347;
  padding: 10px;
  text-decoration: none;
}

.social-links > a:hover {
  text-decoration: underline;
  background-color: #ffffff;
  color: #ff6347;
}

.social-links > a > i{
  font-size: 2em;
}