/*General Styles*/
body {
  background-color: #000000;
  color: #ffffff;
  font-family: Gotham, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: capitalize;
}

a {
  color: #ff6347;
  text-decoration: none;
}

a:hover {
  color: #fff;
  text-decoration: underline;
}

a,
button {
  transition: all 400ms ease-in-out;
}

/*Header Styles*/
.header {
  display: flex;
  align-items: center;
  gap: 100px;
  padding: 25px;
}

#logo_left {
  font-size: 35px;
  color: #ffffff;
}

#logo_right {
  color: #ff6347;
  font-size: 55px;
}

.logo > a {
  text-decoration: none;
}

.main-navigation > ul > li {
  display: inline-flex;
  margin-right: 30px;
}

.main-navigation > ul > li > a {
  color: #ffffff;
  text-decoration: none;
}

.main-navigation > ul > li > a:hover {
  color: #ff6347;
  text-decoration: underline;
}

/*main-container and children styles*/
.main-container {
  padding: 0 40px 0;
}

.home-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 70px;
}

/*introduction section*/
.introduction {
  display: flex;
  margin-bottom: 70px;
}

.introduction-left {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 10px;
  padding: 10px;
}

.cta-button a {
  background-color: #ffffff;
  color: #ff6347;
  padding: 10px;
}

.cta-button > a:hover {
  background-color: #ff6347;
  color: #fff;
}

.introduction-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 10px;
  margin-top: 50px;
}

.introduction-right img {
  width: 300px;
  height: 300px;
  border: 5px solid #fff;
}

/*my-services section*/
.services-grid {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
}

.service-box {
  width: fit-content;
  padding: 20px;
  margin: 10px;
  border: 5px solid #ffffff;
  box-sizing: border-box;
}

.service-box img {
  width: 250px;
  height: 100px;
}

/*recent-projects styles*/
.projects-container {
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.project-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.project-details h3 { 
  margin-bottom: 5px;
}

.project-links {
  display: flex;
  align-items: center;
  gap: 40px;
}

/*Tools-skills section*/

.tools-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.skills-image img {
  width: 300px;
  height: 300px;
  border: 5px solid #fff;
}

.tools-container h3 {
  margin-bottom: 5px;
}

/*precision styles*/
.precision-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  box-sizing: border-box;
  padding: 10px;
}

.precision-container h3 {
  margin-bottom: 5px;
}

.craft {
  border-radius: 15px/50px;
  background-color: #ff6347;
  padding: 20px;
  width: 250px;
  height: 250px;
}



.interface {
  border-radius: 15px/50px;
  background-color: #ff6347;
  padding: 20px;
  width: 250px;
  height: 250px;
}

.unrivalled {
  border-radius: 15px/50px;
  background-color: #ff6347;
  padding: 20px;
  width: 250px;
  height: 250px;
}

/*schooling background styles*/
.riley-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.rosa img {
  width: 320px;
  height: 550px;
  border: 5px solid #fff;
}

.riley-container {
  margin-bottom: 5px;
}

.future  {
  width: fit-content;
  padding: 20px;
  margin: 10px;
  border: 5px solid #ffffff;
  box-sizing: border-box;
}

.reference {
  width: fit-content;
  padding: 20px;
  margin: 10px;
  border: 5px solid #ffffff;
  box-sizing: border-box;
}

.environment img {
  width: 1200px;
  height: 300px;
  border: 5px solid#ffffff;
}

/*quality section styles*/
.assignment-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}
.sharma img {
  width: 500px;
  height: 300px;
}

.sharma {
  box-sizing: border-box;
  border: 5px solid #ffffff;
  margin: 15px;
  padding: 15px;
}

/*button styles*/
.button {
  background-color: #ffffff;
  border: #ffffff;
  color: #ff6347;
  padding: 10px 25px;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 6px 3px;
  cursor: pointer;
}

.button {
  border: 2px solid #ff6347;
  gap: 40px;
}

.button:hover {
   background-color: #ff6347;
   color: #ffffff;
}

/*Footer Styles*/
footer {
  display: flex;
  align-items: center;
  gap: 300px;
  padding: 20px;
}

.copyright {
  text-align: left;
}

.social-links {
  display: flex;
  gap: 30px;
}

.social-links > a {
  color: #ffffff;
  transition: all 0.4s ease-in-out;
  background-color: #ff6347;
  padding: 10px;
  text-decoration: none;
}

.social-links > a:hover {
  text-decoration: underline;
  background-color: #ffffff;
  color: #ff6347;
}

.social-links > a > i {
  font-size: 2em;
}
