/*General Styles*/
body{
    background-color: #000000;
    font-family: Gotham, sans-serif;
}

h2{
    color:#f8f8f9f9
}

p{
    color: #f8f8f9f9;
}

h1, h2, h3, h4, h5, h6{
    color:#f8f8f9f9;
    text-align: left;
    font-weight: 100;
    text-transform: capitalize;
}

h3{
    color: #ffffff;
    font-size: 20px;
    text-align: left-center;
}

/*Header Styles*/
header{
    background-color: #000000;
    padding: 25px;
    margin-bottom: 40px;
}

.header-container{
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    gap: 20px;
}

.logo{
    text-align: left;
    font-size: 30px;
    font-weight: 700;
}

.logo > a{
    text-decoration: none;
}

#logo_left{
    color: #fff;
}

#logo_right{
    color: #ffc0cb;
    font-size: 45px;
}

.main-navigation{
    margin-right: 70px;
}

.main-navigation > ul{
    list-style-type: none;
}

.main-navigation > ul > li{
    display: inline;
    margin-left: 20px;
}

.main-navigation > ul > li > a{
    color: #fff;
    text-decoration: none;
}

.specialisation > a{
    color: #ffff;
    background-color: #000000;
    padding: 20px;
    border-radius: 8px;
    text-decoration: none;
    border-style: groove; 
    margin-top: 10px; 
}
